@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-blue-50: #f1f1f8;
  --color-blue-100: #e5e5ff;
  --color-blue-200: #9999ff;
  --color-blue-300: #85a8ff;
  --color-blue-400: #5676ff;
  --color-blue-500: #0000ff;
  --color-blue-600: #0c0eff;
  --color-blue-700: #0000c2;
  --color-blue-800: #0000ad;
  --color-blue-900: #000066;
  --color-blue-950: #0a0b5c;

  --font-heading:
    Familjen Grotesk, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer base {
    :root {
        --radius: 0.5rem;
    }
}

.box-shadow-zwaa {
    box-shadow: 1px 1px 0px #0000A1, 2px 2px 0px #0000A1, 3px 3px 0px #0000A1, 4px 4px 0px #0000A1;
}

.box-shadow-zwaa-small {
    box-shadow: 1px 1px 0px #0000A1, 2px 2px 0px #0000A1;
}

.red-button {
    box-shadow: 0px 6px 0px var(--color-red-800);
    transition: ease 0.2s transform, ease 0.2s box-shadow;

    &:hover {
        transform: translateY(2px);
        box-shadow: 0px 4px 0px var(--color-red-800);
    }

    &.active {
        transform: translateY(5px);
        box-shadow: 0px 1px 0px var(--color-red-800),
            0px 4px 8px var(--color-red-400);
    }
}